{% extends 'layout.html' %}

{% block main %}
<!--面包屑导航-->
<ol class="breadcrumb">
    <li><a href="/admin">首页</a></li>
    <li><a href="/admin/content">内容首页</a></li>
    <li><span>内容修改</span></li>
</ol>

<h3>内容修改 -- {{contents.title}}</h3>
<div style="margin-bottom: 20px">
    <form role="form" method="post">
        <div class="form-group">
            <label for="category">分类:</label>
            <select class="form-control" name="category" id="category">
                {%for item in categories %}
                {%if contents.category._id.toString() == item._id.toString()%}
                <option value="{{contents.category.id}}" selected>{{contents.category.name}}</option>
                {%else%}
                <option value="{{item.id}}">{{item.name}}</option>
                {%endif%}
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="title">标题:</label>
            <input type="text" value="{{contents.title}}" name="title" class="form-control" id="title" placeholder="请输入内容标题">
        </div>
        <div class="form-group">
            <label for="desciption">简介:</label>
            <textarea rows="5" name="desciption" class="form-control" id="desciption" placeholder="请输入内容简介">{{contents.desciption}}</textarea>
        </div>
        <div class="form-group">
            <!--<label for="content">内容:</label>-->
            <!--<textarea rows="10" name="content" class="form-control" id="content" placeholder="请输入内容">{{contents.content}}</textarea>-->
            <label for="editor">内容:</label>
            <script id="editor" name="content" type="text/plain" style="width:100%;height:500px;">{% autoescape %}{{contents.content}}{% endautoescape %}</script>
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>
{% endblock %}


